body {
    background-color: azure;
}

.widget {
    display: flex;
    justify-content: space-around;
}

.circle {
    border: 1px solid red;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: red;
}

.note-on > .circle{
    background-color: unset;
}

.add-button {
    position: absolute;
    bottom: -24px;
    left: 50%;
}

.view-area {
    position: relative;
    display: grid;
}

.layer {

}

.close-button {

}

.button {

}